body{
    font-family: 'Poppins', sans-serif;
}
h1{font-size: 40px;}
.a{color: orange;}
.flexible-container{display: flex;}
.b{width: 50%;
padding-left:  5%;
margin-left: 2%;

}
.b img{
    width: 80%;

}
.c{text-decoration: none;
    background-image: linear-gradient(orange,tomato);
     padding: 10px 30px;
     color: white;
     font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
   
}
.ex{border-left: 5px solid rgb(214, 74, 74);
padding: 10px 10px;}
#ab{
    padding-top: 25px;

}
footer h1{text-align: center;}
.d{
    color: green;
}
.e{
    color: rgb(28, 146, 161);
}

.ma{
    background-color: whitesmoke;
    border-radius: 5%;
    
   
}
.mb{
    background-color: rgb(235, 213, 213);
    border-radius: 5%;
 
}
.mc{
    background-color: rgb(226, 226, 167);
    border-radius: 5%;
}
.sali img{
    width: 80%;
    margin-top: 100px;
    margin-left: 100px;
}
.sal{
    margin-top: 100px;
    margin-left: 50px;
}
section{display: flex;}
.amar{
    margin-top: 30px;
}
.jan{
    color: orange;
}
.san{
    margin-top: 100px;
    margin-left: 15%;
}
footer h2 {
    text-align: center;
}

footer p {
    text-align: center;
}
.jhankar{
    background-color: rgb(99, 86, 86);
}
.salir img{
    width: 65%;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 5%;
}